<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsz.medicine.mapper.CustomersMapper">
  <resultMap id="BaseResultMap" type="com.wsz.medicine.domain.Customers">
    <id column="cust_id" jdbcType="BIGINT" property="custId" />
    <result column="cust_name" jdbcType="VARCHAR" property="custName" />
    <result column="cust_tel" jdbcType="VARCHAR" property="custTel" />
    <result column="cust_password" jdbcType="VARCHAR" property="custPassword" />
    <result column="cust_cardnum" jdbcType="VARCHAR" property="custCardnum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cust_id, cust_name, cust_tel, cust_password, cust_cardnum
  </sql>
  <select id="selectByExample" parameterType="com.wsz.medicine.domain.CustomersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from customers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customers
    where cust_id = #{custId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from customers
    where cust_id = #{custId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wsz.medicine.domain.CustomersExample">
    delete from customers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wsz.medicine.domain.Customers">
    insert into customers (cust_id, cust_name, cust_tel, 
      cust_password, cust_cardnum)
    values (#{custId,jdbcType=BIGINT}, #{custName,jdbcType=VARCHAR}, #{custTel,jdbcType=VARCHAR}, 
      #{custPassword,jdbcType=VARCHAR}, #{custCardnum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wsz.medicine.domain.Customers">
    insert into customers
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="custId != null">
        cust_id,
      </if>
      <if test="custName != null">
        cust_name,
      </if>
      <if test="custTel != null">
        cust_tel,
      </if>
      <if test="custPassword != null">
        cust_password,
      </if>
      <if test="custCardnum != null">
        cust_cardnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="custId != null">
        #{custId,jdbcType=BIGINT},
      </if>
      <if test="custName != null">
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="custTel != null">
        #{custTel,jdbcType=VARCHAR},
      </if>
      <if test="custPassword != null">
        #{custPassword,jdbcType=VARCHAR},
      </if>
      <if test="custCardnum != null">
        #{custCardnum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wsz.medicine.domain.CustomersExample" resultType="java.lang.Long">
    select count(*) from customers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update customers
    <set>
      <if test="record.custId != null">
        cust_id = #{record.custId,jdbcType=BIGINT},
      </if>
      <if test="record.custName != null">
        cust_name = #{record.custName,jdbcType=VARCHAR},
      </if>
      <if test="record.custTel != null">
        cust_tel = #{record.custTel,jdbcType=VARCHAR},
      </if>
      <if test="record.custPassword != null">
        cust_password = #{record.custPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.custCardnum != null">
        cust_cardnum = #{record.custCardnum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update customers
    set cust_id = #{record.custId,jdbcType=BIGINT},
      cust_name = #{record.custName,jdbcType=VARCHAR},
      cust_tel = #{record.custTel,jdbcType=VARCHAR},
      cust_password = #{record.custPassword,jdbcType=VARCHAR},
      cust_cardnum = #{record.custCardnum,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wsz.medicine.domain.Customers">
    update customers
    <set>
      <if test="custName != null">
        cust_name = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="custTel != null">
        cust_tel = #{custTel,jdbcType=VARCHAR},
      </if>
      <if test="custPassword != null">
        cust_password = #{custPassword,jdbcType=VARCHAR},
      </if>
      <if test="custCardnum != null">
        cust_cardnum = #{custCardnum,jdbcType=VARCHAR},
      </if>
    </set>
    where cust_id = #{custId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wsz.medicine.domain.Customers">
    update customers
    set cust_name = #{custName,jdbcType=VARCHAR},
      cust_tel = #{custTel,jdbcType=VARCHAR},
      cust_password = #{custPassword,jdbcType=VARCHAR},
      cust_cardnum = #{custCardnum,jdbcType=VARCHAR}
    where cust_id = #{custId,jdbcType=BIGINT}
  </update>
</mapper>