<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsz.medicine.mapper.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.wsz.medicine.domain.OrderDetail">
    <id column="detail_id" jdbcType="BIGINT" property="detailId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="drug_id" jdbcType="BIGINT" property="drugId" />
    <result column="drug_num" jdbcType="INTEGER" property="drugNum" />
    <result column="drug_name" jdbcType="VARCHAR" property="drugName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    detail_id, order_id, drug_id, drug_num, drug_name
  </sql>
  <select id="selectByExample" parameterType="com.wsz.medicine.domain.OrderDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_detail
    where detail_id = #{detailId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_detail
    where detail_id = #{detailId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wsz.medicine.domain.OrderDetailExample">
    delete from order_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wsz.medicine.domain.OrderDetail">
    insert into order_detail (detail_id, order_id, drug_id, 
      drug_num, drug_name)
    values (#{detailId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{drugId,jdbcType=BIGINT}, 
      #{drugNum,jdbcType=INTEGER}, #{drugName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wsz.medicine.domain.OrderDetail">
    insert into order_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="detailId != null">
        detail_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="drugId != null">
        drug_id,
      </if>
      <if test="drugNum != null">
        drug_num,
      </if>
      <if test="drugName != null">
        drug_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="detailId != null">
        #{detailId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="drugId != null">
        #{drugId,jdbcType=BIGINT},
      </if>
      <if test="drugNum != null">
        #{drugNum,jdbcType=INTEGER},
      </if>
      <if test="drugName != null">
        #{drugName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wsz.medicine.domain.OrderDetailExample" resultType="java.lang.Long">
    select count(*) from order_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order_detail
    <set>
      <if test="record.detailId != null">
        detail_id = #{record.detailId,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.drugId != null">
        drug_id = #{record.drugId,jdbcType=BIGINT},
      </if>
      <if test="record.drugNum != null">
        drug_num = #{record.drugNum,jdbcType=INTEGER},
      </if>
      <if test="record.drugName != null">
        drug_name = #{record.drugName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order_detail
    set detail_id = #{record.detailId,jdbcType=BIGINT},
      order_id = #{record.orderId,jdbcType=BIGINT},
      drug_id = #{record.drugId,jdbcType=BIGINT},
      drug_num = #{record.drugNum,jdbcType=INTEGER},
      drug_name = #{record.drugName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wsz.medicine.domain.OrderDetail">
    update order_detail
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="drugId != null">
        drug_id = #{drugId,jdbcType=BIGINT},
      </if>
      <if test="drugNum != null">
        drug_num = #{drugNum,jdbcType=INTEGER},
      </if>
      <if test="drugName != null">
        drug_name = #{drugName,jdbcType=VARCHAR},
      </if>
    </set>
    where detail_id = #{detailId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wsz.medicine.domain.OrderDetail">
    update order_detail
    set order_id = #{orderId,jdbcType=BIGINT},
      drug_id = #{drugId,jdbcType=BIGINT},
      drug_num = #{drugNum,jdbcType=INTEGER},
      drug_name = #{drugName,jdbcType=VARCHAR}
    where detail_id = #{detailId,jdbcType=BIGINT}
  </update>
</mapper>