<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsz.medicine.mapper.SortMapper">
  <resultMap id="BaseResultMap" type="com.wsz.medicine.domain.Sort">
    <id column="sort_id" jdbcType="BIGINT" property="sortId" />
    <result column="sort_name" jdbcType="VARCHAR" property="sortName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sort_id, sort_name
  </sql>
  <select id="selectByExample" parameterType="com.wsz.medicine.domain.SortExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sort
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sort
    where sort_id = #{sortId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sort
    where sort_id = #{sortId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wsz.medicine.domain.SortExample">
    delete from sort
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wsz.medicine.domain.Sort">
    insert into sort (sort_id, sort_name)
    values (#{sortId,jdbcType=BIGINT}, #{sortName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wsz.medicine.domain.Sort">
    insert into sort
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sortId != null">
        sort_id,
      </if>
      <if test="sortName != null">
        sort_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sortId != null">
        #{sortId,jdbcType=BIGINT},
      </if>
      <if test="sortName != null">
        #{sortName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wsz.medicine.domain.SortExample" resultType="java.lang.Long">
    select count(*) from sort
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sort
    <set>
      <if test="record.sortId != null">
        sort_id = #{record.sortId,jdbcType=BIGINT},
      </if>
      <if test="record.sortName != null">
        sort_name = #{record.sortName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sort
    set sort_id = #{record.sortId,jdbcType=BIGINT},
      sort_name = #{record.sortName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wsz.medicine.domain.Sort">
    update sort
    <set>
      <if test="sortName != null">
        sort_name = #{sortName,jdbcType=VARCHAR},
      </if>
    </set>
    where sort_id = #{sortId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wsz.medicine.domain.Sort">
    update sort
    set sort_name = #{sortName,jdbcType=VARCHAR}
    where sort_id = #{sortId,jdbcType=BIGINT}
  </update>
</mapper>